/* Reset y ajustes generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template: auto 1fr auto / 20% 60% 20%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    grid-column: 1 / 4;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #444;
}

header nav li {
    margin: 0 15px;
    color: white;
}

header nav li:hover {
    cursor: pointer;
    color: #ffcc00;
}

/* Sidebar (Left) */
.aside-left {
    background-color: #ddd;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 2;
    height: 100%;
    color: #333;
}

/* Main Content */
main {
    padding: 20px;
    background-color: #fff;
    grid-column: 2 / 3;
    grid-row: 2;
    color: #333;
}

/* Sidebar (Right) */
.aside-right {
    background-color: #ddd;
    padding: 20px;
    grid-column: 3 / 4;
    grid-row: 2;
    height: 100%;
    color: #333;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    grid-column: 1 / 4;
}

footer nav button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer nav button:hover {
    background-color: #ff9900;
}

footer nav button a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
